html {
	line-height: 1.15;
	font-size: 14px;
	font-family: sans-serif;
}

body {
	background-color: #f7f7f7;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.flagBanner {
	background: #c81526;
    color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    z-index: 200;
}

.flagBanner p {
	margin-right: 10px;
}

.flagBanner .btnReadMore {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1em;
	padding: 0 15px;
	border: 1px solid #fff;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	background: #fff;
	transition: 0.25s ease;
	color: #c81526;
    font-weight: 500;
    height: 30px;
}

.flagBanner .btnReadMore:hover {
	border-color: #fff;
	color: #fff;
	background: #c81526;
}

.cpnHeader {
	background: #fff;
    padding: 5px;
    box-shadow: 0px 2px 2px #bdc3c720;
    width: 100%;
    z-index: 200;
    margin-bottom: 15px;
    position: sticky;
    top: 0;
    left: 0;
}

.cpnHeader .headerBox > * {
    margin-right: 10px;
}

.cpnHeader .container {
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.cpnHeader .container .headerBox {
	display: flex;
	align-items: center;
}

.cpnHeader .container .headerBox .logo svg {
    height: 30px;
}

.cpnHeader .container .cpnSearchBox {
	flex: 1;
	width: 100%;
}

.cpnHeader .container .cpnSearchBox .contentBox {
	position: relative;
    z-index: 202;
}

.cpnHeader .container .cpnSearchBox .contentBox .input {
	display: flex;
	align-items: center;
	position: relative;
}

.cpnHeader .container .cpnSearchBox .contentBox .input .cpnTextInput {
	display: flex;
	align-items: center;
    position: relative;
    width: 100%;
    border-radius: 5px;
    background: #fafafa;
}

.cpnHeader .container .cpnSearchBox .contentBox .input .icon {
	top:50%;
	left:0;
	padding-left: 10px;
	transform: translateY(-50%);
	position: absolute;
	z-index: 200;
}

.cpnHeader .container .cpnSearchBox .contentBox .input .cpnTextInput input  {
    width: 100%;
    height: 38px;
    font-weight: 500;
    font-size: 1em;
    color: #3d5059;
    border: none;
    border-radius: 5px;
    background: #fafafa;
    outline: none;
    flex: 1;
    padding: 10px 62px 10px 34px;   
}

.cpnSelectProvinceHeader {
	display: flex;
	align-items: center;
	width: 150px;
	position: relative;
	border: 1px solid rgba(61, 80, 89, 0.3);
	border-radius: 5px;
	cursor: pointer;
	padding-right: 15px;
}

.cpnSelectProvinceHeader .icon {
    height: 38px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cpnSelectProvinceHeader .cpnSelectBox {
    font-weight: 500;
    width: 100%;
    padding-left: 10px;
    color: #3d5059;
    flex: 1;
    cursor: pointer; 
}

.btnsAuth {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;  
    outline: none;
    transition: 0.25s ease;
    padding: 0 10px;
    border: 1px solid #c81526;
    border-radius: 5px;
    cursor: pointer;
    height: 38px;
    font-weight: 500;
    background: #c81526;
    color: #fff;
}

.btnsAuth .icon {
	padding-right: 5px;
}

.btnsAuth:hover {
	background: #fff;
	color: #c81526;
}

.cpnSearchBox .contentBox .listSuggests {
	position: absolute;
	top: calc(100% - 0px);
    background: #f7f7f7;
    width: 100%;
    max-height: calc(100vh - 150px);
    overflow: auto;
    border-radius: 5px;
    opacity: 0;
}

.cpnSearchBox .contentBox .listSuggests .hotKeyword {
	display: flex;
	width: 100%;
	padding: 7px;
	background: rgba(0, 0, 0, 0.02);
	font-size: 0.8em;
    font-weight: 600;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.cpnSearchBox .contentBox .listSuggests .listHotKeyword {
	background: #fff;
    padding: 15px 15px 5px;
}

.cpnSearchBox .contentBox .listSuggests .listHotKeyword .listHotKeywordItem {
	display: inline-flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    border-radius: 5px;
    border: 1px solid rgba(61, 80, 89, 0.5);
    color: #3d5059;
    font-weight: 500;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}


